body {
  background-color: rgb(229, 229, 255);
}

#image {
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  display: block;
  margin: 40px auto;
  border-color: black;
  border-style: solid;
}
.header > h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  text-align: center;
  font-size: x-large;
  padding-left: 20px;
  margin-top: -10px;
}

.social_img {
  float: left;
  border-radius: 45px;
  width: 30px;
  height: 30px;
  display: inline;
  padding-top: 2px;
  padding-left: 2px;
}
.social_icon {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  text-align: center;
  background-color: rgb(229, 229, 255);
  border-radius: 20px;
  max-width: 450px;
  height: 35px;
  margin: 20px auto;
  border-color: rgb(2, 2, 3);
  border-style: groove;
  box-shadow: 5px 10px 8px #888888;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
.social_icon:hover {
  color: blue;
  cursor: pointer;
}

#social_name {
  padding-top: 5px;
}
